{% extends 'base.html' %}
{% load static %}

{% block title %} Books List {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Books list</h1><br>
    <div id="menu">
    <form>
        Menu:
        <input type="button" class="btn-success" onclick="window.location.href='add_books';" value="Add book">
        <input type="button" class="btn-success" onclick="window.location.href='import_from_api';" value="Import books">
    </form>

    </div><br>
    <div>
        <form class="form-horizontal" action="{% url 'books_list_view' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-2 mb-0">
                        {{ search_form.title|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-2 mb-0">
                        {{ search_form.author|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        {{ search_form.publication_date_from|as_crispy_field }}
                    </div>
                    <div class="col-sm-2">
                        {{ search_form.publication_date_to|as_crispy_field }}
                    </div>
                </div>
                    {{ search_form.publication_language|as_crispy_field }}
            <input type="submit" class="btn-success" value="Search">
        </form>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <br>
    </div>

    <div>
        <table id="books-table" border="1">
            <th class="books-table-header">Title</th>
            <th class="books-table-header">Author</th>
            <th class="books-table-header">Publication date</th>
            <th class="books-table-header">ISBN</th>
            <th class="books-table-header">Number of pages</th>
            <th class="books-table-header">Cover</th>
            <th class="books-table-header">Publication language</th>
            <th class="books-table-header">Actions</th>
                {% if results %}
                    {% for book in results %}
                        <tr class="books-table-row">
                            <td class="books-table-data">{{ book.title }}</td>
                            <td class="books-table-data">{{ book.author }}</td>
                            {% if book.publication_date == None %}
                                <td class="books-table-data">-</td>
                            {% else %}
                                <td class="books-table-data">{{ book.publication_date }}</td>
                            {% endif %}
                            <td class="books-table-data">{{ book.publication_date }}</td>
                            <td class="books-table-data">{{ book.ISBN }}</td>
                            <td class="books-table-data">{{ book.page_count }}</td>
                            <td class="books-table-data"><img src="{{ book.cover_link }}" alt="" width="150"
                                                              height="250"/></td>
                            <td class="books-table-data">{{ book.publication_language }}</td>
                            <td class="books-table-data"><a href={% url "book_update" book.pk %}>Edit</a>
                                | <a href={% url "book_delete" book.pk %}>Delete</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for book in books %}
                        <tr class="books-table-row">
                            <td class="books-table-data">{{ book.title }}</td>
                            <td class="books-table-data">{{ book.author }}</td>
                            {% if book.publication_date is None %}
                                <td class="books-table-data">-</td>
                            {% else %}
                                <td class="books-table-data">{{ book.publication_date }}</td>
                            {% endif %}
                            <td class="books-table-data">{{ book.ISBN }}</td>
                            <td class="books-table-data">{{ book.page_count }}</td>
                            <td class="books-table-data"><img src="{{ book.cover_link }}" alt="" width="150"
                                                              height="250"/></td>
                            <td class="books-table-data">{{ book.publication_language }}</td>
                            <td class="books-table-data"><a href={% url "book_update" book.pk %}>Edit</a>
                            | <a href={% url "book_delete" book.pk %}>Delete</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
        </table>
    </div>
{% endblock %}